html {
    font-size: 22px;
}

body {
    background-color: rgb(24, 16, 16);
    color: whitesmoke;
}

h1 {
    font-size: 40px;
    font-size: larger;
    color: rgb(231, 225, 225);
}

h2 {
    font-size: 30px;
    font-style: normal;
    color: antiquewhite;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 20px;
    padding: ch;
}