        html {
            font-size: 22px;
        }
        
        body {
            background-color: #333;
            color: whitesmoke;
        }
        
        h1 {
            font-size: 40px;
            font-size: larger;
            color: rgb(231, 225, 225);
        }
        
        h2 {
            font-size: 25px;
            font-style: normal;
            color: antiquewhite;
        }
        
        h3 {
            font-size: 25x;
            font-kerning: normal;
            font: 100;
        }
        
        p {
            font-size: 20px;
            font-style: oblique;
            font-family: helvetica;
            font-stretch: condensed;
        }
        
        li {
            font-size: 20px;
            font-family: Arial;
        }
        
        dl {
            font-size: 25px;
        }
        
        dt {
            font-size: 20px;
            font-family: arial;
        }
        
        a {
            color: aliceblue;
        }
        
        a:visited {
            color: lightgray;
        }
        
        a:hover,
        a:active {
            color: #eee;
        }